:root {
    --main-font-size: 1.2rem;
    --main-icon-height: 1.3rem;
    --logo-font-size: 1.5rem;
    --logo-icon-height: 2.5rem;
    --header-profile-icon-height: 2.5rem;
    --salutation-profile-icon-height: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
.container {
    min-height: 100vh;
}


/* 
    Reset default styles
*/


input {
    display: block;
    font-family: inherit;
    font-size: 100%;
    border: none;
    width: 100%;
    background-color: inherit;
}

button {
    display: block;
    font-family: inherit;
    font-size: 100%;
    border: none;
    background-color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 4rem;
    width: 4rem;
}


/* 
    Overall page layout
*/


.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "nav header"
        "nav content";
}

.nav {
    grid-area: nav;
    background-color: #468ecd;
    color: white;

    display: grid;
    align-content: start;
    gap: 2.5rem;

    padding-left: 1.1rem;
    padding-top: 1.5rem;
    padding-right: 2.5rem;
}

.header {
    grid-area: header;

    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto 1fr;
}

.content {
    grid-area: content;
    background-color: #e2e7ee;
}


/* 
    Navigation
*/


.nav-group {
    display: grid;
    gap: 0.7rem;
}

.nav-item {
    display: grid;
    grid-template-columns: var(--logo-icon-height) 1fr;
    align-items: center;
    gap: 1rem;

    font-size: var(--main-font-size);
}

.nav-item img {
    justify-self: center;
    height: var(--main-icon-height);
}

.nav-item.logo {
    font-size: var(--logo-font-size);
    font-weight: bold;
}

.nav-item.logo img {
    height: var(--logo-icon-height);
}

.nav-item:hover {
    text-decoration: underline;
}


/*
    Header
*/


.search-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.search-container img {
    height: var(--main-icon-height);
    width: var(--main-icon-height);
}

.search-container input[type="text"] {
    padding: 0.2rem 1rem;
    background-color: #e2e7ee;
    color: black;
    border-radius: 20px;
}

.user-container {
    display: grid;
    grid-template-rows: 5rem;
    grid-template-columns: repeat(3, auto);
    padding: 0 1rem;
    gap: 1rem;
    justify-content: end;
    align-items: center;
}

.user-container .notification {
    height: var(--main-icon-height);
}

.user-container .profile {
    width: var(--header-profile-icon-height);
    height: var(--header-profile-icon-height);
    object-fit: cover;
    border-radius: 50%;
}

.user-container .user-name {
    font-weight: bold;
}

.salutation-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
}

.salutation-container .profile {
    width: var(--salutation-profile-icon-height);
    height: var(--salutation-profile-icon-height);
    object-fit: cover;
    border-radius: 50%;
}

.salutation-container .salutation-greeting .user-name {
    font-weight: bold;
}

.actions-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.actions-container .action {
    font-weight: bold;
    background-color: #468ecd;
    color: white;
    border-radius: 15px;
    width: min(90%, 100px);
    min-width: 7ch;
    height: 40%;
    cursor: pointer;
}